<div class="page-header">
  <h1>Sevan Golnazarian</h1>
  <p>38 Morrison Ave, Plattsburgh, NY 12901</p>
  <p>518-335-9363<span class="dot">&#11044</span>sgolnaza@gmail.com</p>
</div>
<hr/>
<div class="container">
  <div class="content-section">
    <h4 class="section-title">-Education-</h4>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">Vermont Technical College</h3>
          <h3>Advanced Software Development Certificate</h3>
        </div>
        <div class="item__details">
          <h3>Williston, Vermont</h3>
          <h3>August 2019 - Present</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Selected Coursework: Algorithms & Data Structures, Operating Systems
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">LeWagon Fullstack Program</h3>
          <h3>9 Week Bootcamp</h3>
        </div>
        <div class="item__details">
          <h3>Chengdu, China</h3>
          <h3>March 2019 - May 2019</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Front-end Stack: MiniJs, SCSS, JavaScript (ES6), Embedded Ruby
          </li>
          <li>
            Back-end Stack: Ruby on Rails, Webpacker/Webpack, Relational Database Design
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">Community College of Vermont</h3>
          <h3>Continuing Education</h3>
        </div>
        <div class="item__details">
          <h3>Winooski, Vermont</h3>
          <h3>September 2018 - December 2018</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Selected Coursework: C/C++, Java, Web Development
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">Johns Hopkins University</h3>
          <h3>Graduate Certificate, Economics</h3>
        </div>
        <div class="item__details">
          <h3>Nanjing, China</h3>
          <h3>September 2015 - June 2016</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Selected Coursework: Corporate Finance, Financial Crises, Game Theory,
            Microeconomics
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">University of Vermont</h3>
          <h3>Bachelor of Arts, Political Science, Chinese</h3>
        </div>
        <div class="item__details">
          <h3>Burlington, Vermont</h3>
          <h3>September 2011 - December 2015</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Selected Coursework: Classical Chinese, Advanced Spoken Chinese, Advanced Chinese Writing
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-section">
    <h4 class="section-title">-Technical Presentations-</h4>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title presentations">Introduction to Ruby</h3>
          <h3>#AnyoneCanCode LeWagon Workshop, Sevan Golnazarian </h3>
        </div>
        <div class="item__details">
          <h3>Chengdu, China</h3>
          <h3>June 2019</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Content: Ruby conventions, data types, variables, conditions, arrays and looping
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title presentations">SkateIt</h3>
          <h3>Product Pitch, Sevan Golnazarian</h3>
        </div>
        <div class="item__details">
          <h3>Chengdu, China</h3>
          <h3>May 2019</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Content: SkateIt, a location-sharing mobile application that allows skateboarders to find spots, check into locations, and explore cities with friends through a mix of social networking and skating
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-section">
    <h4 class="section-title">-Experience-</h4>
    <div class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">ProTranlsating</h3>
          <h3>Chinese Translator</h3>
        </div>
        <div class="item__details">
          <h3>Remote</h3>
          <h3>September 2018 - Present</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            High-volume survey translations
          </li>
          <li>
            Localization of industry-specific terminology from Chinese to English
          </li>
        </ul>
      </div>
    </div>
    <div id="page-break-margin" class="item-container">
      <div class="item__header">
        <div class="item__name">
          <h3 class="item__name-title">GoKunming.com</h3>
          <h3>Project Manager</h3>
        </div>
        <div class="item__details">
          <h3>Kunming, China</h3>
          <h3>June 2016 - March 2017</h3>
        </div>
      </div>
      <div class="item-body">
        <ul>
          <li>
            Led initial conception stage and communication between designers and clients to approve prototypes and project scope
          </li>
          <li>
            Generated periodic SEO status reports and presentations for stakeholders
          </li>
          <li>
            Followed the scope of digital projects from the proposal stage, to development, and finally delivery to clients
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-section">
    <h4 class="section-title">-Links-</h4>
    <div class="item-container">
      <div class="item__header">
      </div>
      <div class="item-body">
        <p class="link-title">Portfolio:</p>
        <ul>
          <li>
            <a href="https://sevanbadal-portfolio.herokuapp.com/" target="_default">https://sevanbadal-portfolio.herokuapp.com/</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="item-container">
      <div class="item__header">
      </div>
      <div class="item-body">
        <p class="link-title">LinkedIn:</p>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/sevan-golnazarian/" target="_default">https://www.linkedin.com/in/sevan-golnazarian/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
